@charset "utf-8";

@import url("./dialog.css");

.dialog-book-content {
    display: flex;
}

.dialog-book-content > img {
    height: 220px;
}

.dialog-book-info {
    display: grid;
    grid-template-columns: .7fr 1fr;
    flex-grow: 1;
    margin: 10px 0;
}

.dialog-book-info > span {
    line-height: 40px;
}