@charset "utf-8";

@import url("./readerMain.css");
@import url("./book.css");

.header_main {
    height: 80px;
    background-color: rgb(255, 255, 255);
}

.search {
    float: right;
}

.search input {
    width: 265px;
    height: 50px;
    float: left;
    border: 1px solid #7e7b7b;
    box-sizing: border-box;
    margin-top: 12px;
}

.search button {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 12px;
    cursor: pointer;
}

.adv3 {
    background: #fff;
    height: 80px;
    margin-top: 10px;
}

.adv2 {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px; */
    grid-gap: 18px 22px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 290px);
}



