.top_menu {
    height: 70px;
    background-color: #262638;
    user-select: none;
}

.main {
    width: 100%;
    margin: 0px auto;
}

.h_main,
#sidebar {
    float: left;
    height: 90vh;
}

#sidebar {
    width: 15%;
    background-color: rgb(42, 63, 84);
    user-select: none;
}

.h_main {
    width: 85%;
    background: rgb(245, 245, 245);
    height: 90vh;
}

#sidebar header h {
    color: #fff;
    display: block;
    text-decoration: none;
}

#sidebar .nav {
    margin-left: -40px;
}

#sidebar .nav h {
    background: none;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #455a64;
    color: #cfd8dc;
    padding: 16px 24px;
    cursor: pointer;
}

#sidebar .nav h5 {
    background: none;
    display: block;
    border-bottom: 1px solid #455a64;
    padding: 16px 24px;
    cursor: pointer;
    user-select: none;
}

#sidebar .nav h5 a {
    color: #cfd8dc;
    text-decoration: none;
}

#sidebar .nav h:hover {
    background-color: rgb(53, 73, 93);
    color: #fff;
}

#sidebar .nav h5:hover {
    background-color: rgb(53, 73, 93);
    color: #fff;
}

.hide {
    overflow: hidden;
    height: 0;
    transition: 0.5s;
}

.hide h5 {
    padding: 10px 0;
    background-color: #282c3a;
    text-align: center;
    color: #fff;
    border-bottom: #42495d;
}

.header_main {
    height: 10%;
    background-color: rgb(255, 255, 255);
}

.search {
    float: right;

}

.search input {
    width: 265px;
    height: 50px;
    float: left;
    border: 1px solid #7e7b7b;
    box-sizing: border-box;
    margin-top: 12px;
}

.search button {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 12px;
    cursor: pointer;
}

.adv1 {
    background: #FFFF00;
    height: 250px;
    margin-top: 10px;
}

.adv3 {
    background: red;
    height: 60px;
    margin-top: 10px;
}

.adv2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*      grid-template-columns为列宽，grid-template-rows为行高*/
    grid-template-rows: 200px 200px;
    /*      设置两行高度值为150px的行*/
    grid-gap: 18px 22px;
    /*       每行每列的间距均为10px*/

}

.adv2>* {
    background: cyan;
}