@charset "utf-8";

@import url("./base.css");
@import url("./basic-button.css");

div.dialog-wrapper,
div.dialog-reader-wrapper,
div.dialog-book-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    min-height: 220px;
    min-width: 420px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 998;
    display: inline-block;
}

div.dialog-main {
    min-width: 420px;
    min-height: 220px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 999;
    background-color: #fff;
}

.dialog-main > .dialog-title {
    margin: 15px 0 18px 0;
    text-align: center;
}

.dialog-main > .dialog-content {
    flex-grow: 1;
    margin: 0 2rem;
    text-indent: 2rem;
    display: flex;
    flex-direction: column;
}

.dialog-main > .dialog-btn-group {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.dialog-main > .dialog-btn-group > div {
    margin: 0 8px 12px;
}
