@charset "utf-8";

@import url("./readerMain.css");

.header_main {
    height: 80px;
    background-color: rgb(255, 255, 255);
}

.search {
    float: right;
}

.search input {
    width: 265px;
    height: 50px;
    float: left;
    border: 1px solid #7e7b7b;
    box-sizing: border-box;
    margin-top: 12px;
}

.search button {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 12px;
    cursor: pointer;
}

.adv2 {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 290px);
    grid-gap: 25px 25px;
    flex-grow: 1;
    margin-top: 14px;
}

.adv2 > *:not(:first-child) {
    background-image: url("https://img11.360buyimg.com/n7/jfs/t7957/227/2622689294/461159/86a7443e/59b22e50N6e1d836e.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 290px;
}

.adv2 > *,
.adv2 div:first-child {
    background: cyan;
    cursor: pointer;
    transition: all .2s;
}

.adv2 > *:hover {
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transform: translate3d(0, -2px, 0);
}

/* 设置第一个子div的样式*/
.adv2 div:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
}
