@charset "utf-8";

@import url("./readerMain.css");

.header_main {
    height: 10%;
    background-color: rgb(255, 255, 255);
}

.search {
    float: right;
}

.search input {
    width: 265px;
    height: 50px;
    float: left;
    border: 1px solid #7e7b7b;
    box-sizing: border-box;
    margin-top: 12px;
}

.search button {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 12px;
    cursor: pointer;
}

.m_main {
    width: 95%;
    height: 85%;
    margin-top: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.adv2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns为列宽，grid-template-rows为行高*/
    grid-template-rows: repeat(2, 1fr);
    /* 设置两行高度值为150px的行*/
    grid-gap: 40px 80px;
    flex-grow: 1;
    /* 每行每列的间距均为10px*/
}

.adv2 h2 {
    user-select: none;
}

.adv2 img:hover {
    background-color: #ddd;
}

.adv2 img:active {
    background-color: #ccc;
}

.adv2 > .add {
    border-radius: 20px;
    text-align: center;
    cursor: pointer
}

.adv2 div:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
    background: cyan;
    width: 400px;
}

@media screen and (max-width: 950px) {
    .adv2 div:first-child {
        display: none;
    }

    .adv2 {
        grid-template-columns: 1fr;
    }
}
