@charset "utf-8";

@import url("./readerMain.css");
@import url("./basic-input.css");

.m_main {
    width: 95%;
    height: 90%;
    padding-top: 30px;
    margin: 20px auto;
}

.left {
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
}

.right {
    width: 40%;
    height: 100%;
    background-color: #FFFF00;
    float: right;
}

.modify-container {
    width: 600px;
    margin: 30px auto;
    font-family: "微软雅黑", serif;
    padding-left: 120px;
    padding-top: 80px;
}

h2 {
    text-align: center;
}

input,
select {
    display: inline-block;
    box-sizing: border-box;
    width: 440px;
    height: 35px;
    margin: 10px 0;
    border: 1px solid #999;
    padding: .5em 1em;
    border-radius: 3px;
}

.h_main span {
    color: #333;
    display: inline-block;
    width: 90px;
    font-size: larger;
}

@media screen and (max-width: 1370px) {
    .right {
        background-color: #fff;;
    }
}