@charset "utf-8";

@import url("./readerMain.css");

* {
    box-sizing: border-box;
}

.m_main {
    width: 95%;
    height: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.tableBox {
    width: 80%;
    height: 80%;
    margin-top: 60px;
    margin: 40px auto;
}

.tableBox table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

.tableBox table th,
td {
    border: 1px solid rgba(230, 230, 230, 1);
}

.tableBox table tr {
    height: 48px;
}

.tableBox table thead tr th {
    color: #fff;
    background: #455a64;
}

.tableBox table thead tr th:nth-child(odd) {
    background-color: #7dafe4;
}

.tableBox table tr th {
    height: 48px;
    font-family: PingFangSC-Medium, serif;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    font-weight: 500;

}

.tableBox table tbody tr td {
    font-family: PingFangSC-Regular, serif;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
}

/** 这里当tbody中的tr是2的倍数的时候给他背景色 **/
.tableBox table tbody tr:nth-child(odd) {
    background: rgb(223, 224, 224, 0.6);
}

.tableBox table tbody tr:hover {

    background: rgb(200, 200, 200);
}

/** 设置tbody超出高度滚动 **/
.tableBox table tbody {
    display: block;
    height: 532px;
    overflow-y: scroll;
}

.tableBox table thead,
.tableBox table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /*重要  表格固定算法*/
}

.tableBox table thead {
    /*留出滚动条的位置*/
    width: calc(100% - 5px)
}

/*设置滚动条的样式*/
.tableBox table tbody::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
}

.tableBox table tbody::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background-color: #7dafe4;
}

.tableBox table tbody::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(29, 94, 164, 0.4);
    /* background: #ededed; */
    border-radius: 10px;

}