@charset "utf-8";

@import url("./base.css");
@import url("header.css");
@import url("sidebar.css");

.container {
    display: flex;
    height: 90vh;
}

.h_main {
    background: rgb(245, 245, 245);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
