<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.skadi.javaweb.mapper.ReaderMapper">
    <update id="updateReader">
        UPDATE readers
        <set>
            <if test="account != null">
                account = #{account},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
            <if test="birth != null">
                birth = #{birth},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="eMail != null">
                e_mail = #{eMail},
            </if>
            <if test="remark != null">
                remark = #{remark}
            </if>
        </set>
        <choose>
            <when test="id != null">
                WHERE id = #{id}
            </when>
        </choose>
    </update>
</mapper>